.App {
  text-align: center;
}

.buttonDiv {
  text-align: center;
}
  
.appContainer {
  width: 950px;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 3fr;
  
  grid-template-areas: 
  "header header"
  "sidebar content"
}

.header {
  margin-left: 90px;
  grid-area: header;
  justify-self: center;
}

h1, h2 {
  color:  #03506f;
}
.generalSection {
  background-color: #03506f;
  grid-area: sidebar;
  text-align: center;
  width: 350px;
  height: 100%;   
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  overflow-x: hidden; 
  padding-top: 20px;
}
.generalFormHeader {
  margin-top: 90px;
  color: #bbbbbb;
}

.contentSection {
  margin-left: 150px;
  grid-area: content;
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
}
.educationSection, .workSection {
  justify-self: start;
  width: 300px;
}

.workSection {
  margin-top: 20px;
}

.formDiv {
  display: block;
  text-align: center;
}
form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

.formInput {
  width: 250px;
  height: 25px;
  margin: 10px;
}

.generalInfoDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 15px;
  color: #bbbbbb;
}

#nameLabel, #surnameLabel, #phoneLabel, #emailLabel {
  justify-self: end;
}
#nameData, #surnameData, #phoneData, #emailData {
  justify-self: start;
}

.eduItem, .workItem {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin:15px;
  grid-template-areas:
  "date date"
  "locationLabel locationData"
  "infoLabel infoData"
  "tasksLabel tasksData"
  "btns btns"
}

#dates {
  grid-area: date;
  justify-self: center;
}

#schoolLabel, #employerLabel {
  grid-area: locationLabel;
  justify-self: end;
}

#schoolData, #employerData {
  grid-area: locationData;
  justify-self: start;
}

#titleLabel {
  grid-area: infoLabel;
  justify-self: end;
}

#titleData {
  grid-area : infoData;
  justify-self: start;
}
#tasksLabel {
  grid-area: tasksLabel;
  justify-self: end;

}
#tasksData {
  text-align: start;
  grid-area: tasksData;
  justify-self: start;
}
.buttonsDiv {
  text-align: center;
  grid-area: btns;
  justify-self: center;
}

