.App {
  text-align: center;
  
}
button {
  margin: 10px;
}
.buttonDiv {
  text-align: center;
  }
  
.appContainer {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
  "header header"
  "sidebar content"
}

.header {
  grid-area: header;
  justify-self: center;
}
.generalSection {
  background-color: pink;
  grid-area: sidebar;
  text-align: center;
}
.educationSection {
  grid-area: content;
  justify-self: start;
  margin-left: 100px;
 
}

.formDiv {
  display: block;
  text-align: center;
}
form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

.formInput {
  width: 250px;
  height: 25px;
  margin: 10px;
}


.generalInfoDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 15px;
  
}
#nameLabel, #surnameLabel, #phoneLabel, #emailLabel {
  justify-self: end;
}
#nameData, #surnameData, #phoneData, #emailData {
  justify-self: start;
}


.eduItem {
  grid-area: box;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin:15px;
  grid-template-areas:
  "date date"
  "locationLabel locationData"
  "infoLabel infoData"
  "btns btns"
}
.educationHeader {
  grid-area: title;
}
.addBtnDiv {
  grid-area: btn;
}

#dates {
  grid-area: date;
  justify-self: center;
}
#schoolLabel {
  grid-area: locationLabel;
  justify-self: end;
}
#schoolData {
  grid-area: locationData;
  justify-self: start;
}

#titleLabel {
  grid-area: infoLabel;
  justify-self: end;
}

#titleData {
  grid-area : infoData;
  justify-self: start;
}
.buttonsDiv {
  text-align: center;
  grid-area: btns;
  justify-self: center;
}



/* #eduDelBtn {
  grid-area: deleteBtn;
}

#eduEditBtn {
  grid-area: editBtn;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
